body {
    height: 100vh;
    margin: 0%;
    padding: 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://library.sportingnews.com/styles/twitter_card_120x120/s3/2022-11/world-cup-qatar-2022-logo.png?itok=khT7zFBQ");
}


.menuul {
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: space-around;
    padding: 12px 10px;
    font-size: 20px;
    list-style: none;
    font-weight: bold;
    margin-bottom: 50px;

}

i {
    margin: 2px;
}

[href]{
    color: black;
    text-decoration: none
}

.grid-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
    grid-template-rows: 100px repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas: "header header header header header"
    "ads main main main main"
    "ads main main main main"
    ". footer footer footer ."
}


.news-header {
    background-color: gold;
    grid-area: header;
    text-align: center;
    padding: 2px;
    opacity: 0.9;
    height: 100px;
    border-radius: 5px;
}

.news-header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

img{
    border-radius: 5px;
    width: 550px ;
    height:300px ;
}

.ads {
    background-color: blueviolet;
    grid-area: ads;
    border-radius: 5px;
}

.main {
    background-color: gray;
    grid-area: main;
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    border-radius: 5px;
}

.content {
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    text-align: start;
    margin: 5px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.fter {
    background-color: cornflowerblue;
    grid-area: footer;
    opacity: 0.9;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.argentina:hover {
    content: url("https://digitalhub.fifa.com/transform/afdfd83b-386a-40e9-a1fa-e0b826cde8d0/Argentina-v-France-Final-FIFA-World-Cup-Qatar-2022?io=transform:fill,height:775,width:1920&quality=75");
}

@media only screen and (min-width: 480px) and (max-width:750px  ) {
    
    .grid-container {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        border-radius: 5px;
        grid-template-columns:  repeat(5, auto);
        grid-template-rows: repeat(5, auto);
        row-gap: 10px;
        column-gap: 10px;
        grid-template-areas: "header "
        "main"
        "footer"
        "ads "
    }

    img {
        display: none;
    }
    
    .text 
    ,.title 
    ,.fterul {
        font-size: 13px;
    }
}