.grid-container {
    display: grid;
    height: 800px;
    border-radius: 5px;
    grid-template-columns:  repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas: "header header header header header"
    "ads main main main main"
    "ads main main main main"
    "ads main main main main"
    ". footer footer footer ."
}


body {
    margin: 40px;
    background-image: url("https://library.sportingnews.com/styles/twitter_card_120x120/s3/2022-11/world-cup-qatar-2022-logo.png?itok=khT7zFBQ");
}


.menuul {
    background-color: #eee;
    display: flex;
    justify-content: space-around;
    padding: 12px 30px;
    font-size: 20px;
    font-weight: 500;
    list-style: none;
    width: 100%;
    font-weight: bold;
}

i {
    margin: 5px;
}

[href]{
    color: black;
    text-decoration: none
}

.news-header {
    background-color: gold;
    grid-area: header;
    text-align: center;
    opacity: 0.7;
}

img{
    border-radius: 5px;
}

.ads {
    background-color: blueviolet;
    grid-area: ads;
}

.main {
    background-color: gray;
    grid-area: main;
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.content {
    display: flex;
    flex-flow: column wrap;
    text-align: justify;
    margin: 10px;
}

.fter {
    background-color: cornflowerblue;
    grid-area: footer;
    opacity: 0.9;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.argentina:hover {
    content: url("https://digitalhub.fifa.com/transform/afdfd83b-386a-40e9-a1fa-e0b826cde8d0/Argentina-v-France-Final-FIFA-World-Cup-Qatar-2022?io=transform:fill,height:775,width:1920&quality=75");
}